#add-gif-container {
    width: 50%
}

#gif-container .btn {
  text-transform: capitalize;
  margin-right: 5px;
}

#images-per-page {
    margin-top: 10px;
}

footer {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.panel-heading {
    text-transform: capitalize;
    height: 60px;
}

.panel-body {
    height: 250px;
    position: relative;
}

.panel-body img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}